html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style */
body {
  background-color: #eaeaea;
  color: #3e3e3e;
}

#wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
fieldset {
  border: 1px solid #3e3e3e;
  padding: 15px;
}
legend {
  font-size: 24px;
}

form label {
  line-height: 40px;
}

form {
  position: relative;
}

label,
form input,
select,
#radio,
#jm {
  position: relative;
}

form #radio label {
  left: 580px;
  top: -30px;
}
/* label jenis member */
#jm {
  top: 60px;
}
.name {
  left: 470px;
}
.merk {
  left: 545px;
}
.jumlah-barang {
  left: 483px;
}

/* Responsive */

@media (max-width: 670px) {
  fieldset {
    width: 100%;
  }
  form label {
    line-height: 40px;
  }
  form #radio label {
    left: 180px;
  }
  #jm {
    top: 60px;
  }
  .name {
    left: 70px;
  }
  .merk {
    left: 145px;
  }
  .jumlah-barang {
    left: 85px;
  }
}
